<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width" initial-scale=1.0>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'flights/xyz.css' %}">
<head>
  <title>Flights{{flight.id}}</title>
  </head>
  <body>
    <h1>Flights{{flight.id}}</h1>
    <ul>
      <li>{{flight.origin}}</li>
      <li>{{flight.destination}}</li>
      <li>{{flight.duration}}</li>
      <li>{{flight.is_valid_flight}}</li>
   </ul>
      <h2>Passengers</h2>
      <ul>
      {%for passenger in passsengers%}
      <li>{{passenger}}</li>
      {%empty%}
      <li>No Passengers</li>
      {%endfor%}
      <ul>
      <hr>
      <h2>add a passenger</h2>
      {% if non_passengers %}
      <form action="{%url 'book' flight.id %}" method="post">
        {% csrf_token %}
       <select name="passenger">
         {%for passenger in non_passengers%}
         <option value="{{passenger.id}}">{{passenger}}</option>
         {%endfor%}
      </select>
      <input type="submit" value="Book Flight">
      </form>
      {%else%}
      <div>No Passengers</div>
      {%endif%}
      <a href="{%url 'index'%}">Back To full site</a>
      </ul>
      </body>
      </html>
